table {
    margin-left: 10%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: 1vw;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #cf6325;
    color: rgb(20,20,20);
}

div.list {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    font-family: 'Comic Sans MS';
    font-weight: 700;
    color: rgb(73, 75, 77);
}

.list li {
    border-bottom: 3px solid rgb(145, 88, 15);
    margin-bottom: 5px;
    
}

.list .pizza{
    font-size: 1.4vw;
}

.list .pizza p{
    font-size: 1vw;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
}

@media only screen and (max-width:814px){
    table {
        font-size: 12px;
        width: 90%;
        margin-left: 5%;
    }

    .list .pizza{
        font-size: 13px;
    }
    .list .pizza p{
        font-size: 10px;
    }
}